compile_commands.json
[Bb]uild
cmake-build-debug
*.swo
*.swp
*.config
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.cflags
*.cxxflags
*.autosave
.vscode
.ccls-cache
.DS_Store
.cache
.clang_complete
.clangd
.idea
.vim
*~
